In [3]:
import pandas

In [33]:
import pandas as pd
import flet as ft
from urllib.request import urlopen
import json
import datetime

In [34]:
urlexo1 = "https://exoplanetarchive.ipac.caltech.edu/TAP/sync?query=select+count(pl_name)+as+nbe+from+ps+where+default_flag=1&format=json"
print(urlexo1)
data = json.loads(urlopen(urlexo1).read().decode("utf-8"))
# print(data)
data0=data[0]
# print(data0)
nb_exoplanets= data0['nbe']
print(nb_exoplanets)

https://exoplanetarchive.ipac.caltech.edu/TAP/sync?query=select+count(pl_name)+as+nbe+from+ps+where+default_flag=1&format=json
5690

In [35]:
urlexo7 = "https://exoplanetarchive.ipac.caltech.edu/TAP/sync?query=select+\
pl_name,hostname,pl_letter,pl_bmasse,pl_bmassj,pl_rade,pl_radj,pl_orbper,pl_dens,pl_trandur,pl_ratror,\
sy_snum,sy_pnum,sy_mnum,st_mass,st_lum,st_age,st_dens,sy_dist,disc_year,disc_telescope,discoverymethod\
+from+ps+where+default_flag=1&format=json"

print(urlexo7)
list7 = json.loads(urlopen(urlexo7).read().decode("utf-8"))
#print(list7)

https://exoplanetarchive.ipac.caltech.edu/TAP/sync?query=select+pl_name,hostname,pl_letter,pl_bmasse,pl_bmassj,pl_rade,pl_radj,pl_orbper,pl_dens,pl_trandur,pl_ratror,sy_snum,sy_pnum,sy_mnum,st_mass,st_lum,st_age,st_dens,sy_dist,disc_year,disc_telescope,discoverymethod+from+ps+where+default_flag=1&format=json

In [36]:
print(list7[0])

{'pl_name': 'OGLE-TR-10 b', 'hostname': 'OGLE-TR-10', 'pl_letter': 'b', 'pl_bmasse': 197.046, 'pl_bmassj': 0.62, 'pl_rade': 14.011, 'pl_radj': 1.25, 'pl_orbper': 3.101278, 'pl_dens': 0.4, 'pl_trandur': None, 'pl_ratror': None, 'sy_snum': 1, 'sy_pnum': 1, 'sy_mnum': 0, 'st_mass': 1.14, 'st_lum': 0.188, 'st_age': None, 'st_dens': None, 'sy_dist': 1344.97, 'disc_year': 2004, 'disc_telescope': '1.3 m Warsaw University Telescope', 'discoverymethod': 'Transit'}

In [37]:
len(list7)

5690

In [38]:
list7[0]

{'pl_name': 'OGLE-TR-10 b',
 'hostname': 'OGLE-TR-10',
 'pl_letter': 'b',
 'pl_bmasse': 197.046,
 'pl_bmassj': 0.62,
 'pl_rade': 14.011,
 'pl_radj': 1.25,
 'pl_orbper': 3.101278,
 'pl_dens': 0.4,
 'pl_trandur': None,
 'pl_ratror': None,
 'sy_snum': 1,
 'sy_pnum': 1,
 'sy_mnum': 0,
 'st_mass': 1.14,
 'st_lum': 0.188,
 'st_age': None,
 'st_dens': None,
 'sy_dist': 1344.97,
 'disc_year': 2004,
 'disc_telescope': '1.3 m Warsaw University Telescope',
 'discoverymethod': 'Transit'}

In [39]:
list7[0].keys()

dict_keys(['pl_name', 'hostname', 'pl_letter', 'pl_bmasse', 'pl_bmassj', 'pl_rade', 'pl_radj', 'pl_orbper', 'pl_dens', 'pl_trandur', 'pl_ratror', 'sy_snum', 'sy_pnum', 'sy_mnum', 'st_mass', 'st_lum', 'st_age', 'st_dens', 'sy_dist', 'disc_year', 'disc_telescope', 'discoverymethod'])

In [40]:
list7[0].values()

dict_values(['OGLE-TR-10 b', 'OGLE-TR-10', 'b', 197.046, 0.62, 14.011, 1.25, 3.101278, 0.4, None, None, 1, 1, 0, 1.14, 0.188, None, None, 1344.97, 2004, '1.3 m Warsaw University Telescope', 'Transit'])

In [41]:
(list7[0]).items()

dict_items([('pl_name', 'OGLE-TR-10 b'), ('hostname', 'OGLE-TR-10'), ('pl_letter', 'b'), ('pl_bmasse', 197.046), ('pl_bmassj', 0.62), ('pl_rade', 14.011), ('pl_radj', 1.25), ('pl_orbper', 3.101278), ('pl_dens', 0.4), ('pl_trandur', None), ('pl_ratror', None), ('sy_snum', 1), ('sy_pnum', 1), ('sy_mnum', 0), ('st_mass', 1.14), ('st_lum', 0.188), ('st_age', None), ('st_dens', None), ('sy_dist', 1344.97), ('disc_year', 2004), ('disc_telescope', '1.3 m Warsaw University Telescope'), ('discoverymethod', 'Transit')])

In [42]:
list_of_dict = [
    {"course": "DBMS", "price": 1500},
    {"course": "Python", "price": 2500},
    {"course": "Java", "price": 2500},
]
dict_7_0 = list7[0]
dict_7_0

{'pl_name': 'OGLE-TR-10 b',
 'hostname': 'OGLE-TR-10',
 'pl_letter': 'b',
 'pl_bmasse': 197.046,
 'pl_bmassj': 0.62,
 'pl_rade': 14.011,
 'pl_radj': 1.25,
 'pl_orbper': 3.101278,
 'pl_dens': 0.4,
 'pl_trandur': None,
 'pl_ratror': None,
 'sy_snum': 1,
 'sy_pnum': 1,
 'sy_mnum': 0,
 'st_mass': 1.14,
 'st_lum': 0.188,
 'st_age': None,
 'st_dens': None,
 'sy_dist': 1344.97,
 'disc_year': 2004,
 'disc_telescope': '1.3 m Warsaw University Telescope',
 'discoverymethod': 'Transit'}

In [43]:
dict_7_0['pl_name']

'OGLE-TR-10 b'

In [44]:
#nombre de planete par distance
y10=y20=y30=y40=y50=y60=y70=y80=y90=y100=0
for planete in list7:
    #print(planete['pl_name'])
    if planete['sy_dist'] is None: 
        pass
    else:
        if planete['sy_dist'] < 10.00:
            #print(planete['pl_name'])
            y10+=1
        elif planete['sy_dist'] >= 10.00 and planete['sy_dist'] < 20.00:
            #print(planete['pl_name'])
            y20+=1
        elif (planete['sy_dist'] >= 20.00) and (planete['sy_dist']) < 30.00:
            #print(planete['pl_name'])
            y30+=1
        elif (planete['sy_dist'] >= 30.00) and (planete['sy_dist']) < 40.00:
            #print(planete['pl_name'])
            y30+=1
        elif (planete['sy_dist'] >= 40.00) and (planete['sy_dist']) < 50.00:
            #print(planete['pl_name'])
            y40+=1
        elif (planete['sy_dist'] >= 50.00) and (planete['sy_dist']) < 60.00:
            #print(planete['pl_name'])
            y50+=1
        elif (planete['sy_dist'] >= 60.00) and (planete['sy_dist']) < 70.00:
            #print(planete['pl_name'])
            y60+=1
        elif (planete['sy_dist'] >= 70.00) and (planete['sy_dist']) < 80.00:
            #print(planete['pl_name'])
            y70+=1
        elif (planete['sy_dist'] >= 80.00) and (planete['sy_dist']) < 90.00:
            #print(planete['pl_name'])
            y80+=1
        elif (planete['sy_dist'] >= 90.00) and (planete['sy_dist']) < 100.00:
            #print(planete['pl_name'])
            y90+=1
        
        else:
            y100+=1
            
print(y10)
print(y20)
print(y30)
print(y40)
print(y50)
print(y60)
print(y70)
print(y80)
print(y90)
print(y100)

106
170
386
180
141
134
85
76
57
4232

In [45]:
#nombre de planete par annÃ©e
y0=y1=y2=y3=y4=y5=y6=y7=y8=y9=0
now = datetime.date.today()
y0 = now.year
for planete in list7:
    #print(planete['pl_name'])
    if planete['disc_year'] is None: 
        pass
    else:
        if planete['disc_year'] == y0 :
            #print(planete['pl_name'])
            y1+=1
        elif planete['disc_year'] == y0  -1 :
            #print(planete['pl_name'])
            y2+=1
        elif planete['disc_year'] == y0 - 2 :
            #print(planete['pl_name'])
            y3+=1
        elif planete['disc_year'] == y0 - 3 :
            #print(planete['pl_name'])
            y4+=1
        elif planete['disc_year'] == y0 - 4 :
            #print(planete['pl_name'])
            y5+=1
        elif planete['disc_year'] == y0 - 5 :
            #print(planete['pl_name'])
            y6+=1
        elif planete['disc_year'] == y0 - 6 :
            #print(planete['pl_name'])
            y7+=1
        elif planete['disc_year'] == y0 - 7 :
            #print(planete['pl_name'])
            y8+=1
        elif planete['disc_year'] == y0 - 8 :
            #print(planete['pl_name'])
            y9+=1
        else:
            y10+=1
            
print(y1)
print(y2)
print(y3)
print(y4)
print(y5)
print(y6)
print(y7)
print(y8)
print(y9)
print(y10)

110
324
365
525
233
202
323
154
1511
2049